# =====================
# 📦 Dependency folders
# =====================
node_modules/
bower_components/
jspm_packages/
web_modules/
dist/
dist-ssr/
build/
build/Release

# =====================
# ⚙️ Cache & logs
# =====================
.cache/
.parcel-cache/
.vitepress/
.vitepress/dist
.vitepress/cache
.temp/
.nyc_output
coverage/
*.lcov
*.log
logs
*.tgz
*.tsbuildinfo
.pnpm-debug.log*
.yarn-debug.log*
.yarn-error.log*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity
.rpt2_cache/
.rts2_cache_*/

# =====================
# 🔧 Config / lock files
# =====================
.lock-wscript
.pnp.*
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache
.stylelintcache

# =====================
# 🧪 Test
# =====================
lib-cov
report.*.json

# =====================
# 🔐 Env files
# =====================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =====================
# 📁 IDE / Editor
# =====================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================
# 🍏 macOS
# =====================
.DS_Store

# =====================
# 🧪 Misc
# =====================
node_modules_copy/
.dynamodb/
.serverless/
.fusebox/
.tern-port
.vscode-test
.next/
out/
.nuxt/
.docusaurus/
.vuepress/dist
.DS_Store
