:root {
  --bg: #1e1e1e;
  --card-bg: #2c2c2c;
  --text: #e0e0e0;
  --input-bg: #3a3a3a;
  --input-border: #5a5a5a;
  --button: #4c9aff;
  --button-hover: #377ad6;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h3 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.register-container,
.login-container {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 8px;
  width: 250px;
  margin: 100px auto;
}

.register-container form,
.login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

input {
  background-color: var(--input-bg);
  color: var(--text);
  border: 1px solid var(--input-border);
  border-radius: 4px;
  padding: 5px;
}

button {
  background-color: var(--button);
  color: white;
  border: none;
  border-radius: 4px;
  height: 35px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
}

.movie-list {
  padding: 0;
  margin: 1rem auto;
  max-width: 600px;
  list-style-type: none;
  padding-left: 0;
}

.movie-list li {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-top: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
